DATABASE_URL=postgres://<user>:<password>@127.0.0.1:5432/senda
TRANSFER_TEST_DATABASE_URL=
DATABASE_SSL=

NEXT_PUBLIC_APP_NAME=Senda
NEXT_PUBLIC_USSD_DEMO_CODE=*120#

SOURCE_CURRENCY=
DESTINATION_CURRENCY=
TRANSFER_FEE_BPS=
TRANSFER_COLLECTION_LOCATION=
TRANSFER_QUOTE_TTL_SECONDS=300
EXCHANGE_RATE_API_URL=https://open.er-api.com/v6/latest

COLLECTION_CODE_SECRET=
STORE_AGENT_SECRET=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM=
